#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    grid-gap: 10px;
}

.infoDiv {
    background: rgb(224, 174, 224);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.centering-img{
    width: 100px;
    height: 100%;
    
}
#flagImg{
    width: 100%;
    top: 100px;
    padding: 50px;
}